<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.sist.mapper.book-mapper">
	<select id="bookListData" resultType="BookVO" parameterType="hashmap">
	SELECT no, cno, category, title, poster, price, stock, num
	FROM (SELECT no, category, cno, title, poster, price, stock, rownum as num
	FROM (SELECT no, category, cno, title, poster, price, stock
	FROM book WHERE cno=#{cno} ORDER BY no ASC))
	WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<select id="bookCategoryListData" resultType="BooksCategoryVO">
	select table1.cno, table1.category, table2.count
	from (select distinct cno as cno, category from book order by cno asc) table1
	join (select count(category) as count, category from book group by category) table2
	on table1.category=table2.category
	order by table1.cno asc
	</select>
	
	<select id="bookTotalPage" resultType="int" parameterType="int">
	SELECT CEIL(count(*)/9.0) FROM book
	WHERE cno = #{cno}
	</select>
	
	<select id="bookDetailData" resultType="BookVO" parameterType="int">
	SELECT no, cno, category, title, subtitle, poster, author, pudate, 
	publisher, price, bookpage, book_info, content_list, stock 
	FROM book
	WHERE no = #{no}
	</select>
	
	<select id="bookReplyData" resultType="BookReplyVO" parameterType="hashmap">
	SELECT no, name, content, poster, score, num
	FROM (SELECT no, name, content, poster, score, rownum as num
	FROM (SELECT no, name, content, poster, score
	FROM book_reply WHERE no=#{no} ORDER BY no ASC))
	WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<select id="bookReplyScoreData" resultType="BookReplyVO" parameterType="int">
	SELECT count(score) as cs
	FROM book_reply
	WHERE no=#{no}
	GROUP BY score
	ORDER BY score DESC
	</select>
	
	<select id="bookReplyTotalPage" resultType="int">
	SELECT CEIL(count(*)/3.0) FROM book_reply
	</select>
	
	<select id="bookReplyAverageData" resultType="int" parameterType="int">
	SELECT AVG(score) FROM book_reply
	WHERE no=#{no}
	</select>
</mapper>
