<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.member-mapper">
	<select id="memberIdCount" resultType="int" parameterType="string">
		SELECT COUNT(*) FROM member 
		WHERE id=#{id}
	</select>
	
	<!-- 
	ID       NOT NULL VARCHAR2(20)  
	PWD      NOT NULL VARCHAR2(10)  
	NAME     NOT NULL VARCHAR2(34)  
	SEX               VARCHAR2(10)  
	BIRTHDAY NOT NULL VARCHAR2(20)  
	EMAIL             VARCHAR2(100) 
	POST     NOT NULL VARCHAR2(10)  
	ADDR1    NOT NULL VARCHAR2(200) 
	ADDR2             VARCHAR2(200) 
	TEL               VARCHAR2(20)  
	CONTENT           CLOB          
	ADMIN             CHAR(1)   
	 -->
	<select id="memberGetPassword" resultType="com.sist.vo.MemberVO" parameterType="string">
		SELECT pwd,name,admin,addr1,NVL(addr2,' ') as addr2,tel,email FROM member 
		WHERE id=#{id}
	</select>
	<insert id="insertMember" parameterType="com.sist.vo.MemberVO">
	    INSERT INTO member VALUES(
	    #{id},
	    #{pwd},
	    #{name},
	    #{sex},
	    #{birthday},
	    #{email},
	    #{post},
	    #{addr1},
	    #{addr2},
	    #{tel},
	    #{content},
	    'n'
	    )
	</insert>
	<!-- 
		ZIPCODE    VARCHAR2(7)   
		SIDO       VARCHAR2(50)  
		GUGUN      VARCHAR2(100) 
		DONG       VARCHAR2(100) 
		BUNJI      VARCHAR2(100) 
		
	 -->
	<select id="signUpAddress" resultType="com.sist.vo.ZipcodeVO" parameterType="string">
		SELECT zipcode,sido,gugun,dong,NVL(bunji,' ') as bunji
		FROM zipcode 
		WHERE dong LIKE '%'||#{dong}||'%'
	</select>
	
	<select id="memberFindData" resultType="com.sist.vo.MemberVO" parameterType="hashmap">
		SELECT id,name,sex,email,addr1,addr2,tel 
		FROM member 
		WHERE 
		<trim prefix="(" suffix=")" prefixOverrides="OR">
			<foreach collection="memberArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type=='id'.toString()">
							id LIKE '%'||#{keyword}||'%' 
						</when>
						<when test="type=='name'.toString()">
							name LIKE '%'||#{keyword}||'%' 
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</select>
	
	<delete id="memberDelete" parameterType="string">
		DELETE FROM member 
		WHERE id=#{id}
	</delete>
	
</mapper>











