<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.recommend-mapper">

	 
	<!-- <select id="recommendData" resultType="RecommendVO" parameterType="hashmap">
		SELECT no,title,price,poster,num
		FROM (SELECT no,title,price,poster,rownum as num
		FROM (SELECT no,title,price,poster FROM book WHERE REGEXP_LIKE(title,#{title}) AND cno=12))
		WHERE num BETWEEN #{start} AND #{end}
	</select> -->
	<select id="recommendData" resultType="RecommendVO" parameterType="hashmap">
		SELECT no,title,price,poster,rownum FROM book WHERE REGEXP_LIKE(title,#{title}) AND cno=12 AND rownum&lt;10
	</select>
	
	<!-- <select id="recommendTotalPage" resultType="int" parameterType="string">
		SELECT CEIL(COUNT(*)/12) FROM book WHERE REGEXP_LIKE(title,#{title}) AND cno=12)
	</select> -->
	
	<select id="recommendGetTitleData" resultType="string" >
		SELECT title FROM book WHERE title LIKE '%'||#{title}||'%' AND cno=12 ORDER BY no ASC
	</select>
	
</mapper>