<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.video-review-mapper">
<!-- private int no;
	private String id;
	private String name;
	private String msg;
	private int star;
	private int vno;
	private Date regdate; -->
<select id="videoReviewListData" resultType="VideoReviewVO" parameterType="int">
SELECT no, id, name, msg, star, vno, TO_CHAR(regdate, 'YYYY-MM-DD HH24:MI:SS') as dbday FROM video_review 
WHERE vno=#{vno}
ORDER BY no DESC
</select>
<insert id="videoReviewInsert" parameterType="VideoReviewVO">
INSERT INTO video_review(no, vno, name, msg, star)
VALUES(
	(SELECT MAX(no)+1 as no FROM video_review),
	#{vno},
	#{name},
	#{msg},
	#{star}
)
</insert>
</mapper>