<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.sist.vo.BookVO" alias="BookVO"/>
		<typeAlias type="com.sist.vo.BookfVO" alias="BookfVO"/>
		<typeAlias type="com.sist.vo.BooksVO" alias="BooksVO"/>
		<typeAlias type="com.sist.vo.BooksCategoryVO" alias="BooksCategoryVO"/>
		<typeAlias type="com.sist.vo.VideoReviewVO" alias="VideoReviewVO"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/sist/mapper/book-mapper.xml"/>
		<mapper resource="com/sist/mapper/bookf-mapper.xml"/>
		<mapper resource="com/sist/mapper/books-mapper.xml"/>
		<mapper resource="com/sist/mapper/video-mapper.xml"/>
		<mapper resource="com/sist/mapper/video-review-mapper.xml"/>
	</mappers>
</configuration>