<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings> 
	    <setting name="cacheEnabled" value="false" />
	    <setting name="jdbcTypeForNull" value="NULL" />
	    <setting value="VARCHAR" name="jdbcTypeForNull"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.sist.vo.BookVO" alias="BookVO"/>
		<typeAlias type="com.sist.vo.BookReplyVO" alias="BookReplyVO"/>
		<typeAlias type="com.sist.vo.BookfVO" alias="BookfVO"/>
		<typeAlias type="com.sist.vo.BookfReplyVO" alias="BookfReplyVO"/>
		<typeAlias type="com.sist.vo.BooksVO" alias="BooksVO"/>
		<typeAlias type="com.sist.vo.BooksCategoryVO" alias="BooksCategoryVO"/>
		<typeAlias type="com.sist.vo.VideoReviewVO" alias="VideoReviewVO"/>
		<typeAlias type="com.sist.vo.BooksReviewVO" alias="BooksReviewVO"/>
		<typeAlias type="com.sist.vo.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.sist.vo.ReplyVO" alias="ReplyVO"/>
		<typeAlias type="com.sist.vo.CartVO" alias="CartVO"/>
		<typeAlias type="com.sist.vo.OrderVO" alias="OrderVO"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/sist/mapper/book-mapper.xml"/>
		<mapper resource="com/sist/mapper/bookf-mapper.xml"/>
		<mapper resource="com/sist/mapper/books-mapper.xml"/>
		<mapper resource="com/sist/mapper/video-mapper.xml"/>
		<mapper resource="com/sist/mapper/video-review-mapper.xml"/>
		<mapper resource="com/sist/mapper/books-review-mapper.xml"/>
		<mapper resource="com/sist/mapper/member-mapper.xml"/>
		<mapper resource="com/sist/mapper/board-mapper.xml"/>
		<mapper resource="com/sist/mapper/reply-mapper.xml"/>
		<mapper resource="com/sist/mapper/cart-mapper.xml"/>
		<mapper resource="com/sist/mapper/order-mapper.xml"/>
	</mappers>
</configuration>